<h2>Bookmark Manager</h2>
<ul>
  <% @bookmark_manager_list.each do |bookmark| %>
    <li>
      <a href="<%= bookmark.url %>">
        <%= bookmark.title %>
      </a>
      <ul>
        <% bookmark.comments do |comment| %>
          <%= comment %>
        <% end %>    
      </ul>  
    <form action='/bookmarks/<%= bookmark.id %>' method='post'>
      <input type='hidden' name='_method' value='DELETE'/>
      <input type="submit" value="Delete" id="<%=bookmark.title%>_delete"/>
    </form> 
    <form action="/bookmarks/<%= bookmark.id %>/update" method="get">
      <input type="submit" value='Update' id="<%=bookmark.title%>_update"/>
    </form>
    </form>
      <form action="/bookmarks/<%= bookmark.id %>/comments/new" method="get">
        <input type="submit" value="Add Comment" id="<%=bookmark.title%>_Add Comment"/>
      </form>
    </li>
  <% end %>
</ul>
<%= flash[:notice] %>
